body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

.profile-text {
  color: #40514e;
  width: 30%;
  margin: auto;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: white;
  margin: 100px 0;
}

.contact-me {
  padding: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
  background-color: #11cdd4;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
}

.btn:hover {
  background: linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
  background-color: #11999e;
}

.btn:active {
  position: relative;
  top: 1px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 20px 0 20px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-images {
  border-radius: 100%;
}

.skill-row-l {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-img-l {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row-r {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;
}
.skill-img-r {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11ccd4;
  background-image: -webkit-linear-gradient(top, #11ccd4, #11999e);
  background-image: -moz-linear-gradient(top, #11ccd4, #11999e);
  background-image: -ms-linear-gradient(top, #11ccd4, #11999e);
  background-image: -o-linear-gradient(top,  #11ccd4, #11999e);
  background-image: linear-gradient(to bottom,  #11ccd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-decoration: none;
}
